*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}

header{
    text-align:center;
    font-size:2em;
    padding: 1.5rem;
    box-shadow: 0 8px 10px -6px gray;

}

.map{
    padding: 3rem;
    text-align:center;

}

.tooltip {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px; /* Increased padding */
    width: 1000px; /* Increased width */
    z-index: 100;
    box-shadow: 0px 3px 10px 3px #d43333;
}

.tooltip h2{
    font-size:2em;
}

.tooltip p{
    font-size:23px;
}

.centerImg{
    text-align: center;
}

footer{
    padding:1.5rem;
    color: black;
    text-align: center;
    font-size: 25px;
}

